* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace;
    /* background: #4D0033; */
    /* background-image: url("./image/img1.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
}

h1 {
    font-size: 70px;
    color: #000000;
}

.countdown {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("./image/img1.jpg");
    background-size: 100%;
    background-repeat: space;
}

.timer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
}


.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.waiting {
  height: 50vh;
}